<div class="pagina">
<div>  
  <a [routerLink]="['']" >
  <img class="logo" src="assets/logo2.png" width="150px" height="150px"></a>
  <img src="/assets/kkunstlab.png" class="kkunstlab">
</div>
<div class="menuContainer">
  
  <!-- <a [routerLink]="['/agenda']"><h3 class="menut">agenda</h3></a>
  <a [routerLink]="['/vrijhouden']"><h3 class="menuv">glak</h3></a> -->
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h3>
          WAT IS KUBUS?
        </h3>
        <br>
        <p>
          KUBUS is een onderneming in ‘Samen Kunst Maken’. Wij maken kunst waarop jullie kunst maken.
        </p>
        <h3>
          WAT MAAKT KUBUS?
        </h3>
        <p>
          KUBUS maakt performances.
        </p>
        <p>
          Een KUBUS-performance is een samensmelting van voordracht, poëzie, visuele kunst, geluiden, klanken en poseren. 
          Een performance is een ‘kunstwerk’ op zich, maar heeft de specifieke intentie om verdere kunst te inspireren.
        </p>
        <h3>
          ONZE VISIE
        </h3>
        <p>
          KUBUS hanteert kunst als een taal. Wij maken geen kunst voor kunst maar gebruiken het om te praten over thema’s 
          die ons aan het hart liggen.
        </p>
        <p>
          We willen plezier maken, inspireren, ons publiek zien kunst maken (tijdens en achteraf) 
          en jullie gevoelens in beroering brengen. 
          Voor KUBUS is (samen) kunst maken belangrijker dan ‘kunst’  beoordelen op zijn resultaat.
        </p>
        
        <h3>
          DOELSTELLINGEN
        </h3>
        <p>
          KUBUS stelt zich op termijn zeven doelstellingen:
        </p>
        <br>
        <ol>
          <li>
            ‘Plezier’ gebruiken om ‘Samen Kunst (te) Maken’
          </li>
          <li>
            Kruisbestuiving aanmoedigen
          </li>
          <li>
            De grenzen tussen kunstenaar en publiek vervagen.
          </li>
          <li>
            De grenzen tussen kunstvormen onderling vervagen en versmelten.
          </li>
          <li>
            De relevantie van kunst in de dagelijkse samenleving in vraag stellen.
          </li>
          <li>
            De financiële kwetsbaarheid van creatieve arbeid in vraag stellen.
          </li>
          <li>
            Creatieve ondernemers financieel weerbaarder maken.
          </li>
        </ol>
        <h3>
          WIE IS KUBUS?
        </h3>
        <h2>
          Art Director
        </h2>
        <p>
          Vincent Van Nauw
        </p>
        
       <!-- <button class="btn btn-amber" [routerLink]="['/agenda']" >VERTEL JE VERHAAL</button>   -->
      
        <h2>
          Performers
        </h2>
        <p>
          Jonas Van Bel<br>
          Maya Stoffijn<br>
          Glenn Van der Heyden<br>
          Jana Lopicic<br>
          Jan Van Bel<br>
          Jesse Baart<br>
        </p>
        
        <h2>
          INFO & BOOKING
        </h2>
        <p>
          kubus.kunstlab@gmail.com
        </p>
        <a href="https://www.instagram.com/kubus.kunstlab/" target="_blank" title="link naar instagram van kubus kunstlab"><img src="http://www.transparentpng.com/download/logo-instagram/kuQpOb-logo-instagram-images.png" width="80" height="80" class="slogo" alt="Kubus on Instagram"/></a>
        <a href="https://www.facebook.com/KUBUS.KUNSTLAB/" target="_blank" title="link naar facebook van kubus kunstlab"><img src="http://www.transparentpng.com/download/facebook-logo/facebook-icon-transparent-background-20.png" width="80" height="80" class="slogo" alt="Kubus on Facebook"/></a>
        <br><br><br><br><br><br><br><br><br><br>
      </div>


      <div class="col-md-6">
        <div class="videoWrapper">
          <iframe src="https://www.youtube.com/embed/bqaQXh0tMnE" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br><br>
        <a [routerLink]="['/contactL']"><h3 class="menus">Ik wil meedoen!</h3></a>
        <!--
        <img class="vincent" src={{g}}>
      
        button (click)="play()">play</button><br>
        <button (click)="stop()">stop</button>
      
        <div class="een">1</div>
        <div class="twee">2</div>
        <div class="drie">3</div>
        <div class="vier">4</div>
        <div class="vijf">5</div>
        <div class="zes">6</div>
        -->
      </div> 
  </div>
</div>