.een{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    color: blue;
    background-color: aquamarine;

}

.cover{
    margin-top:-600px;
}

.cover1{
    margin-top:-600px;
    margin-left:200px;
}

.twee{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    color: blue;
    background-color: aquamarine;
    margin-left: -100px;


}