* {
    margin: 0px;
    padding: 0px;
 }
 
 html, body {
    width: 100%;
    height: 100%;
 }
 
 .cube {
   transform-style: preserve-3d;
   animation: spin 2s infinite linear;
   position: relative;
   width: 400px;
   height: 400px;
   background: rgb(255, 234, 0);
   top: 50%;
   left: 50%;
   margin-left: -200px;
   margin-top: 200px;
 }
 
 
 .cube div {
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
    //box-shadow: inset 0px 0px 0px 1px rgba(10, 0, 0, 0.8);
    background: rgb(255, 234, 0);
    display: block;
    position: absolute;
 }
 

.cube div.top {
    transform: rotateX(90deg); 
    margin-top: -200px;
 }
 
 .cube div.right {
    transform: rotateY(90deg); 
    margin-left: 200px;
 }
 
 .cube div.bottom {
    transform: rotateX(-90deg); 
    margin-top: 200px;
 }
 
 .cube div.left {
    transform: rotateY(-90deg); 
    margin-left: -200px;
 }
 
 .cube div.front {
    transform: translateZ(200px);
 }
 
 .cube div.back {
    transform: translateZ(-200px) rotateX(180deg);
 }


 @keyframes spin {
    from {
        transform: rotateY(0deg) rotateX(18deg);
    }
    to {
        transform: rotateY(360deg) rotateX(18deg);
    }
}


////////////////////////////////////////////////////////////////////////////////////////////////////
/*        ============================   MOBILE PART   ===================================        */
////////////////////////////////////////////////////////////////////////////////////////////////////


@media only screen and (max-width: 600px) {
    .wrap{
        margin-top: 200px;
        margin-right: 100px;
    }

    img{
        width: 100%;
        height: 100%;
    }
     
     .cube {
       transform-style: preserve-3d;
       animation: spin 2s infinite linear;
       position: relative;
       width: 200px;
       height: 200px;
       background: rgb(255, 234, 0);
       top: 25%;
       left: 25%;
       margin-top: 100px;
       margin: auto;
     }
     
     
     .cube div {
        width: 200px;
        height: 200px;
        line-height: 200px;
        text-align: center;
        //box-shadow: inset 0px 0px 0px 1px rgba(10, 0, 0, 0.8);
        background: rgb(255, 234, 0);
        display: block;
        position: absolute;
     }
     
    
    .cube div.top {
        transform: rotateX(90deg); 
        margin-top: -100px;
     }
     
     .cube div.right {
        transform: rotateY(90deg); 
        margin-left: 100px;
     }
     
     .cube div.bottom {
        transform: rotateX(-90deg); 
        margin-top: 100px;
     }
     
     .cube div.left {
        transform: rotateY(-90deg); 
        margin-left: -100px;
     }
     
     .cube div.front {
        transform: translateZ(100px);
     }
     
     .cube div.back {
        transform: translateZ(-100px) rotateX(180deg);
     }
    
    
     @keyframes spin {
        from {
            transform: rotateY(0deg) rotateX(18deg);
        }
        to {
            transform: rotateY(360deg) rotateX(18deg);
        }
    }

}