* {
    background-color: white
;
}


p{
    font-size:90px;
    text-align: center;
    margin-left: -100px;
    margin-top: 30px;
}
.col-md-6 .mx-auto .d-flex .justify-content-center{
    color: black;
}

label{
    color: black;
}

span{
    color: black;
}

.logo{
    position: absolute;
    margin-left: 50px;
    margin-top: 25px;
}